/* Styling HTML */


html {
  background: url(../images/compBG.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Courier New', sans-serif;
}

/* Styling Body */
body{
  width:  100%;
  height: 100%;
  resize: both;
  overflow: auto;
  margin: 0;
}

/* Styling box */
.prof-box{
    width: 45%;
    height: 30%;
    background: rgba(86, 224, 186,.18);
    padding: 2%;
    color: white;
    margin: 0 auto;
    margin-top: 5.75%;
    margin-bottom: 10%;
    text-align: center;
}

/* Styling pic */
.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* Styling Tags */
h1{
    font-weight: 100;
    letter-spacing: 6;
    font-size: 50px;
}


p{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1;
}

/* Styling icons */
.linkedin-icon{
    font-size: 60px;
}

.linkedin-icon a {
    font-size: 60px;
    color: white;

}

.linkedin-icon:hover{
  filter: invert(.5);
}

.git-icon{
    font-size: 60px;
}

.git-icon a {
    font-size: 60px;
    color: white;

}

.git-icon:hover{
  filter: invert(.5);
}



.line-break {
    width: 95%;
    border-top: 1px solid white;
    margin: 0 auto;
}

.about-me{
    width: 45%;
    height: 30%;
    background: rgba(86, 224, 186,.18);
    padding: 2%;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}


.p-works{
    width: 45%;
    height: 30%;
    background: rgba(86, 224, 186,.18);
    padding: 2%;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.resume{
    width: 45%;
    height: 30%;
    background: rgba(86, 224, 186,.18);
    padding: 2%;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.resFile{
  font-size: 40px;
}

.resFile a {
    font-size: 100px;
    color: white;

}

.resFile:hover{
  filter: invert(.5);
}


.contact-me{
    width: 45%;
    height: 30%;
    background: rgba(86, 224, 186,.18);
    padding: 2%;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}


/* Styling icons */
.email-icon{
    font-size: 80px;
}

.email-icon a {
    font-size: 80px;
    color: white;

}

.email-icon:hover{
  filter: invert(.5);
}

.phone-icon{
    font-size: 80px;
}

.phone-icon a {
    font-size: 80px;
    color: white;

}

.phone-icon:hover{
  filter: invert(.5);
}


/* Styling Nav Bar */
.container{
  margin: 0 auto;
  width: 95%;
  margin-left: 1%;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background: #bae0ba;
  opacity: .999999;

}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo{
  width: auto;
  height: auto;
  float: left;
  padding: 1%;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 0px;
  margin-left: 70px;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
}

nav a{
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;

}

nav a:hover{
  color: #444;
}

nav a::before{
  content: '';
  display: block;
  height: 8px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.sticky{
  position: fixed;
 top: 0;
 left: 0;
 width: 100%;
}
